.seccion03 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  background-color: #ffffff;
  border-radius: 20px;
}
.S3Contanier header {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.6fr 1fr;
  position: relative;
}
.S3Contanier header .s3Txt {
  position: relative;
  top: -23px;
  left: -50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  background-color: #f5f5f5;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  animation: roll-in-blurred-left cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  view-timeline-name: --reveal;
  animation-timeline: --reveal; 
  animation-range: entry 25% cover 30%;
}

.S3Contanier header .s3Txt button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 32px;
  border: none;
  color: #ffffff;
  background-color: #000;
  padding: 15px;
}
.S3Contanier header .s3Txt button svg {
  font-size: 17px;
}
.S3Contanier header .tituloS3 h2 {
  font-size: 50px;
  font-weight: 500;
  animation: typing 1.3s steps(40, end) forwards;
  view-timeline-name: --reveal;
  clip-path: inset(0 100% 0 0);
  animation-timeline: --reveal; 
  animation-range: entry 25% cover 50%;
}

.s3Divs {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 32px;
  margin: 32px 0;
}
.s3DItem:nth-child(1) {
  display: grid;
  gap: 3px;
}
.s3DItem:nth-child(1) .s3DTxt {
  display: grid;
  gap: 10px;
  padding: 23px;
  animation: slide-in-blurred-top cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  view-timeline-name: --reveal;
  animation-timeline: --reveal; 
  animation-range: entry 25% cover 30%;
}
.s3DItem:nth-child(1) .s3DTxt h3{
  font-size: 20px;
}
.s3DItem:nth-child(1) .s3DTxt:nth-child(1) {
  border-radius: 32px;
  background-color: #f5f5f5;
}
.s3DItem:nth-child(2) img{
  border-radius: 32px;
  animation: slit-in-vertical 0.45s ease-out both;
  view-timeline-name: --reveal;
  animation-timeline: --reveal; 
  animation-range: entry 25% cover 30%;
}
@media(width <= 1110px){
    .s3Divs{
        grid-template-columns: 1fr;
        margin: 32px;
    }
    .s3Divs .s3DItem .s3DTxt{
        text-align: center;
    }
}
@media(width <= 900px){
    .S3Contanier header .s3Txt{
        position: static;
        border-bottom-left-radius: 20px;
    }
    .S3Contanier header{
        gap: 32px;
        grid-template-columns: 1fr;
    }
}
@media(width <= 450px){
    .S3Contanier header .tituloS3 h2{
        font-size: 38px;
    }
    .s3Divs{
        margin: 32px 0;
    }
}