
.logosContainer{
    margin: 50px;
}
.logoSlide{
    display: grid !important;
    align-items: center !important;
    height: 144px !important;
    justify-content: center;
    margin-right: 32px;
}

.svgLogo{
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}