.seccion01 {
  background-color: #ffffff;
  border-radius: 20px;
}
.seccion01 h1 {
  font-size: 51px;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  animation: typing 1.3s steps(40, end) forwards;
  clip-path: inset(0 100% 0 0); /* Oculta el texto y lo va mostrando */
}
.cuadroTxt p{
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}
.seccion01 .titulo p {
  width: 85%;
  margin: 23px 0;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.txtSeccion1 {
  display: grid;
  gap: 20px;
}
.txtSeccion1 .cuadro {
  background-color: #efefef;
  padding: 40px 28px;
  background-image: url(../../IMG/bannerCuadrado.png);
  background-repeat: no-repeat;
  background-position: 332px;
  background-size: 350px;
  clip-path: polygon(
    0% 15%,
    0 0,
    15% 0%,
    72% 0,
    72% 14%,
    100% 15%,
    100% 85%,
    74% 85%,
    74% 100%,
    15% 100%,
    0 100%,
    0% 85%
  );
  border-radius: 32px;
}

.txtSeccion1 .cuadro .cuadroContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.txtSeccion1 .cuadro .cuadroTxt {
  display: grid;
  gap: 10px;
}
.txtSeccion1 .cuadro .cuadroTxt a {
  margin-top: 15px;
}
.txtSeccion1 .cuadro h2 {
  font-weight: 500;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.txtSeccion1 .cuadro a {
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  font-weight: 700;
}

.seccion01 h1 span {
  background-color: #bbfbdc;
  border-radius: 20px;
  padding: 0 10px;
}
.seccion01Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
}

.imgSeccion01 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.imgPrincipalS1 {
  display: grid;
  align-items: end;
  justify-items: end;
  position: relative;
  grid-column: span 2;
}
.imgPrincipalS1 img {
  border-radius: 32px;
  height: 430px;
  clip-path: polygon(
    0% 15%,
    0 0,
    15% 0%,
    85% 0%,
    100% 0,
    100% 15%,
    100% 83%,
    64% 83%,
    64% 100%,
    15% 100%,
    0 100%,
    0% 85%
  );
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.imgS1Item {
  padding: 28px 23px;
  border-radius: 32px;
  background-color: #bafbcf;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.imgS1Item:nth-child(2) h2 {
  font-size: 38px;
  letter-spacing: 1.5px;
}
.imgS1Item:nth-child(3) {
  color: #ffffff;
  background: linear-gradient(135deg, #25292d 0%, #7d7979 100%);
}
.imgS1Item:nth-child(2) p {
  animation: typing 1.3s steps(40, end) forwards;
  animation-range: none;
}
.imgS1Item:nth-child(3) p {
  font-size: 23px;
  font-weight: 400;
  animation: typing 1.3s steps(40, end) forwards;
  animation-range: none;
}

.tutorialS1 {
  display: flex;
  font-weight: 700;
  cursor: pointer;
  padding: 13px 20px;
  margin: 0 10px 10px 0;
  border-radius: 13px;
  background-color: #00ff7e;
  position: absolute;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both,
             shake-horizontal 1.2s 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@media (width <= 1239px){
  .imgPrincipalS1 img {
    clip-path: none;
  }
  .seccion01 h1, .cuadroTxt p,.seccion01 .titulo p,.imgS1Item:nth-child(2) p,.imgS1Item:nth-child(3) p{
    animation: none;
    clip-path: none;
  }
}
@media (width <= 900px){
  .seccion01Container {
    grid-template-columns: 1fr;
    padding: 30px 50px;
  }
}
@media (width <= 800px){
  .tutorialS1{
    display: none;
  }
  .txtSeccion1 .cuadro{
    clip-path: none;
    background-image: none;
  }
  .txtSeccion1 .cuadro .cuadroTxt{
    text-align: center;
    grid-column: span 2;
    width: 100%;
  }
}
@media (width <= 650px){
  .seccion01Container {
    grid-template-columns: 1fr;
    padding: 30px 23px;
  }
  .seccion01 h1 {
    font-size: 38px;
    font-weight: 500;
  }
  .imgPrincipalS1 img{
    height: 350px;
  }
  .seccion01 {
    border-radius: 50px;
  }
  .imgSeccion01{
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }
  .imgPrincipalS1 {
    grid-column: span 1;
  }
  .imgS1Item{
    text-align: center;
    padding: 32px 10px;
  }
}
@media (width <= 450px){
  .imgPrincipalS1 img{
    height: 250px;
  }
  .seccion01Container {
    padding: 30px 0;
  }
  .s2DLaItem{
    display: grid;
    align-items: center;
  }
}